# Defina o ambiente
NODE_ENV=development
LOG_LEVEL=debug
PROJECT_NAME=backend_template_reborn

# App
APP_NAME="Backend Template Reborn"
APP_PORT=3000
JWT_SECRET=
FRONTEND_URL=http://localhost:5173
HASH_SALT_ROUNDS=12
SENTRY_DSN=

# Comando de inicialização
COMMAND="npm run start:dev"

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=backend_template_reborn
POSTGRES_PORT=5432
SCHEMA=public

# URLs de conexão
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/backend_template_reborn?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# SMTP
SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_HOST=
SMTP_SECURE=

CRON_SCHEDULE="0 23 * * *"