NODE_ENV=development
PORT=3333
HOST="0.0.0.0"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=postgres
POSTGRES_PORT=5432

HASH_SALT_ROUNDS=12

DATABASE_URL="postgresql://postgres:12345678@localhost:5432/postgres?schema=public"